# Starbucks Capstone Challenge

### Introduction

This data set contains simulated data that mimics customer behavior on the Starbucks rewards mobile app. Once every few days, Starbucks sends out an offer to users of the mobile app. An offer can be merely an advertisement for a drink or an actual offer such as a discount or BOGO (buy one get one free). Some users might not receive any offer during certain weeks. 

Not all users receive the same offer, and that is the challenge to solve with this data set.

Your task is to combine transaction, demographic and offer data to determine which demographic groups respond best to which offer type. This data set is a simplified version of the real Starbucks app because the underlying simulator only has one product whereas Starbucks actually sells dozens of products.

Every offer has a validity period before the offer expires. As an example, a BOGO offer might be valid for only 5 days. You'll see in the data set that informational offers have a validity period even though these ads are merely providing information about a product; for example, if an informational offer has 7 days of validity, you can assume the customer is feeling the influence of the offer for 7 days after receiving the advertisement.

You'll be given transactional data showing user purchases made on the app including the timestamp of purchase and the amount of money spent on a purchase. This transactional data also has a record for each offer that a user receives as well as a record for when a user actually views the offer. There are also records for when a user completes an offer. 

Keep in mind as well that someone using the app might make a purchase through the app without having received an offer or seen an offer.

### Example

To give an example, a user could receive a discount offer buy 10 dollars get 2 off on Monday. The offer is valid for 10 days from receipt. If the customer accumulates at least 10 dollars in purchases during the validity period, the customer completes the offer.

However, there are a few things to watch out for in this data set. Customers do not opt into the offers that they receive; in other words, a user can receive an offer, never actually view the offer, and still complete the offer. For example, a user might receive the "buy 10 dollars get 2 dollars off offer", but the user never opens the offer during the 10 day validity period. The customer spends 15 dollars during those ten days. There will be an offer completion record in the data set; however, the customer was not influenced by the offer because the customer never viewed the offer.

### Cleaning

This makes data cleaning especially important and tricky.

You'll also want to take into account that some demographic groups will make purchases even if they don't receive an offer. From a business perspective, if a customer is going to make a 10 dollar purchase without an offer anyway, you wouldn't want to send a buy 10 dollars get 2 dollars off offer. You'll want to try to assess what a certain demographic group will buy when not receiving any offers.

### Final Advice

Because this is a capstone project, you are free to analyze the data any way you see fit. For example, you could build a machine learning model that predicts how much someone will spend based on demographics and offer type. Or you could build a model that predicts whether or not someone will respond to an offer. Or, you don't need to build a machine learning model at all. You could develop a set of heuristics that determine what offer you should send to each customer (i.e., 75 percent of women customers who were 35 years old responded to offer A vs 40 percent from the same demographic to offer B, so send offer A).

# Data Sets

The data is contained in three files:

* portfolio.json - containing offer ids and meta data about each offer (duration, type, etc.)
* profile.json - demographic data for each customer
* transcript.json - records for transactions, offers received, offers viewed, and offers completed

Here is the schema and explanation of each variable in the files:

**portfolio.json**
* id (string) - offer id
* offer_type (string) - type of offer ie BOGO, discount, informational
* difficulty (int) - minimum required spend to complete an offer
* reward (int) - reward given for completing an offer
* duration (int) - time for offer to be open, in days
* channels (list of strings)

**profile.json**
* age (int) - age of the customer 
* became_member_on (int) - date when customer created an app account
* gender (str) - gender of the customer (note some entries contain 'O' for other rather than M or F)
* id (str) - customer id
* income (float) - customer's income

**transcript.json**
* event (str) - record description (ie transaction, offer received, offer viewed, etc.)
* person (str) - customer id
* time (int) - time in hours since start of test. The data begins at time t=0
* value - (dict of strings) - either an offer id or transaction amount depending on the record

**Note:** If you are using the workspace, you will need to go to the terminal and run the command `conda update pandas` before reading in the files. This is because the version of pandas in the workspace cannot read in the transcript.json file correctly, but the newest version of pandas can. You can access the termnal from the orange icon in the top left of this notebook.  

You can see how to access the terminal and how the install works using the two images below.  First you need to access the terminal:

<img src="pic1.png"/>

Then you will want to run the above command:

<img src="pic2.png"/>

Finally, when you enter back into the notebook (use the jupyter icon again), you should be able to run the below cell without any errors.

In [49]:
import pandas as pd
import numpy as np
import math
import json
% matplotlib inline

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

### Access data

In [50]:
portfolio

,channels,difficulty,duration,id,offer_type,reward
0,"[email, mobile, social]",10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10
1,"[web, email, mobile, social]",10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10
2,"[web, email, mobile]",0,4,3f207df678b143eea3cee63160fa8bed,informational,0
3,"[web, email, mobile]",5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5
4,"[web, email]",20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5
5,"[web, email, mobile, social]",7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3
6,"[web, email, mobile, social]",10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2
7,"[email, mobile, social]",0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0
8,"[web, email, mobile, social]",5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5
9,"[web, email, mobile]",10,7,2906b810c7d4411798c6938adc9daaa5,discount,2

In [51]:
portfolio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
channels      10 non-null object
difficulty    10 non-null int64
duration      10 non-null int64
id            10 non-null object
offer_type    10 non-null object
reward        10 non-null int64
dtypes: int64(3), object(3)
memory usage: 560.0+ bytes

In [52]:
portfolio.difficulty.unique()

array([10,  0,  5, 20,  7])

In [53]:
portfolio.duration.unique()

array([ 7,  5,  4, 10,  3])

In [54]:
portfolio.reward.unique()

array([10,  0,  5,  3,  2])

In [55]:
portfolio.offer_type.unique()

array(['bogo', 'informational', 'discount'], dtype=object)

In [56]:
profile.head()

   age  became_member_on gender                                id    income
0  118          20170212   None  68be06ca386d4c31939f3a4f0e3dd783       NaN
1   55          20170715      F  0610b486422d4921ae7d2bf64640c50b  112000.0
2  118          20180712   None  38fe809add3b4fcf9315a9694bb96ff5       NaN
3   75          20170509      F  78afa995795e4d85b5d9ceeca43f5fef  100000.0
4  118          20170804   None  a03223e636434f42ac4c3df47e8bac43       NaN

In [57]:
profile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 5 columns):
age                 17000 non-null int64
became_member_on    17000 non-null int64
gender              14825 non-null object
id                  17000 non-null object
income              14825 non-null float64
dtypes: float64(1), int64(2), object(2)
memory usage: 664.1+ KB

In [58]:
profile.age.unique()

array([118,  55,  75,  68,  65,  58,  61,  26,  62,  49,  57,  40,  64,
        78,  42,  56,  33,  46,  59,  67,  53,  22,  96,  69,  20,  45,
        54,  39,  41,  79,  66,  29,  44,  63,  36,  76,  77,  30,  51,
        27,  73,  74,  70,  89,  50,  90,  60,  19,  72,  52,  18,  71,
        83,  43,  47,  32,  38,  34,  85,  48,  35,  82,  21,  24,  81,
        25,  37,  23, 100,  28,  84,  80,  87,  86,  94,  31,  88,  95,
        93,  91,  92,  98, 101,  97,  99])

In [59]:
transcript.head()

,event,person,time,value
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'}
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'}
2,offer received,e2127556f4f64592b11af22de27a7932,0,{'offer id': '2906b810c7d4411798c6938adc9daaa5'}
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'}
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'}

In [60]:
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 4 columns):
event     306534 non-null object
person    306534 non-null object
time      306534 non-null int64
value     306534 non-null object
dtypes: int64(1), object(3)
memory usage: 9.4+ MB

In [61]:
transcript.event.unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

### Clean Data:

- portfolio: rename id col name offer_id.
- portfolio: one-hot encode channels
- portfolio: remove redundant rows.
- profile: rename id col name customer_id.
- profile: change age value 118 to nan.
- profile: create readable date format for became_member_on column.
- transcript: rename person col name to customer_id.
- transcript: create separate columns for amount and offer_id from value col.

In [62]:
# portfolio: rename id col name offer_id.
portfolio.rename(columns={'id': 'offer_id'}, inplace=True)

In [63]:
# portfolio: one-hot encode channels

for index, row in portfolio.iterrows():
    for channel in ['web', 'email', 'social', 'mobile']:
        if channel in portfolio.loc[index, 'channels']:
            portfolio.loc[index, channel] = 1
        else:
            portfolio.loc[index, channel] = 0
portfolio.drop(columns='channels', inplace=True)

In [64]:
portfolio

,difficulty,duration,offer_id,offer_type,reward,web,email,social,mobile
0,10,7,ae264e3637204a6fb9bb56bc8210ddfd,bogo,10,0.0,1.0,1.0,1.0
1,10,5,4d5c57ea9a6940dd891ad53e9dbe8da0,bogo,10,1.0,1.0,1.0,1.0
2,0,4,3f207df678b143eea3cee63160fa8bed,informational,0,1.0,1.0,0.0,1.0
3,5,7,9b98b8c7a33c4b65b9aebfe6a799e6d9,bogo,5,1.0,1.0,0.0,1.0
4,20,10,0b1e1539f2cc45b7b9fa7c272da2e1d7,discount,5,1.0,1.0,0.0,0.0
5,7,7,2298d6c36e964ae4a3e7e9706d1fb8c2,discount,3,1.0,1.0,1.0,1.0
6,10,10,fafdcd668e3743c1bb461111dcafc2a4,discount,2,1.0,1.0,1.0,1.0
7,0,3,5a8bc65990b245e5a138643cd4eb9837,informational,0,0.0,1.0,1.0,1.0
8,5,5,f19421c1d4aa40978ebb69ca19b0e20d,bogo,5,1.0,1.0,1.0,1.0
9,10,7,2906b810c7d4411798c6938adc9daaa5,discount,2,1.0,1.0,0.0,1.0

In [65]:
# profile: rename id col name customer_id.
profile.rename(columns={'id': 'customer_id'}, inplace=True)

In [66]:
profile.where(profile.age==118).count()

age                 2175
became_member_on    2175
gender                 0
customer_id         2175
income                 0
dtype: int64

In [67]:
# profile: change age value 118 to nan.
profile.age.replace(118, np.nan, inplace=True)

In [68]:
# profile: create readable date format for became_member_on column.
profile.became_member_on = profile['became_member_on'].astype(str).astype('datetime64[ns]', format = "%Y%m%d")

In [69]:
profile

,age,became_member_on,gender,customer_id,income
0,NaN,2017-02-12,None,68be06ca386d4c31939f3a4f0e3dd783,NaN
1,55.0,2017-07-15,F,0610b486422d4921ae7d2bf64640c50b,112000.0
2,NaN,2018-07-12,None,38fe809add3b4fcf9315a9694bb96ff5,NaN
3,75.0,2017-05-09,F,78afa995795e4d85b5d9ceeca43f5fef,100000.0
4,NaN,2017-08-04,None,a03223e636434f42ac4c3df47e8bac43,NaN
5,68.0,2018-04-26,M,e2127556f4f64592b11af22de27a7932,70000.0
6,NaN,2017-09-25,None,8ec6ce2a7e7949b1bf142def7d0e0586,NaN
7,NaN,2017-10-02,None,68617ca6246f4fbc85e91a2a49552598,NaN
8,65.0,2018-02-09,M,389bc3fa690240e798340f5a15918d5c,53000.0
9,NaN,2016-11-22,None,8974fc5686fe429db53ddde067b88302,NaN
10,NaN,2017-08-24,None,c4863c7985cf408faee930f111475da3,NaN
11,NaN,2015-09-19,None,148adfcaa27d485b82f323aaaad036bd,NaN
12,58.0,2017-11-11,M,2eeac8d8feae4a8cad5a6af0499a211d,51000.0
13,61.0,2017-09-11,F,aa4862eba776480b8bb9c68455b8c2e1,57000.0
14,26.0,2014-02-13,M,e12aeaf2d47d42479ea1c4ac3d8286c6,46000.0
15,62.0,2016-02-11,F,31dda685af34476cad5bc968bdb01c53,71000.0
16,49.0,2014-11-13,M,62cf5e10845442329191fc246e7bcea3,52000.0
17,NaN,2017-08-01,None,744d603ef08c4f33af5a61c8c7628d1c,NaN
18,57.0,2017-12-31,M,6445de3b47274c759400cd68131d91b4,42000.0
19,61.0,2018-05-01,F,a448667f336b42c9a66fc5ffd5d73772,40000.0
20,40.0,2016-05-04,F,440cf1fd7580490c971d8c651ed962af,71000.0
21,64.0,2017-09-09,M,4b0da7e80e5945209a1fdddfe813dbe0,100000.0
22,78.0,2017-06-16,F,c27e0d6ab72c455a8bb66d980963de60,71000.0
23,NaN,2017-09-07,None,2b826eba31074a059d63b0ae8f50b7d5,NaN
24,42.0,2013-08-11,M,f806632c011441378d4646567f357a21,69000.0
25,56.0,2018-04-28,F,d058f73bf8674a26a95227db098147b1,88000.0
26,NaN,2017-03-30,None,65aba5c617294649aeb624da249e1ee5,NaN
27,33.0,2017-09-26,F,c6c9884912c645429f3333f912b55f44,52000.0
28,46.0,2017-09-11,F,7429a044884842d6862f516c38b1156f,59000.0
29,59.0,2015-01-21,M,ebe7ef46ea6f4963a7dd49f501b26779,41000.0
...,...,...,...,...,...
16970,67.0,2015-11-07,M,a2e6029e17b6466187a40b66e333a73e,94000.0
16971,52.0,2018-05-22,F,6e71b66784844d1ab8376ac8ab096d4b,75000.0
16972,44.0,2017-01-19,F,e2fd53ed790240c586b3188f23542cca,51000.0
16973,30.0,2015-10-12,M,08eb126ad33f447ca3ad076482445c05,57000.0
16974,59.0,2016-01-13,F,f88e91a11d8f405b9a47ad3741415b83,71000.0
16975,61.0,2017-12-31,F,1b4df4b48bf64727a4c445909aea1251,81000.0
16976,39.0,2016-09-21,F,122c0c2a3c2540848f8c3fdc37e97639,54000.0
16977,NaN,2016-06-09,None,eb7dd979f4644052a5c401a01f129132,NaN
16978,29.0,2017-02-20,F,54bead4179c44b71acc4e8398181d183,58000.0
16979,63.0,2013-09-22,F,a00058cf10334a308c68e7631c529907,52000.0
16980,NaN,2016-09-01,None,5c686d09ca4d475a8f750f2ba07e0440,NaN
16981,84.0,2016-06-29,M,1966fa40d2f84620b2b1b9b64f8e0209,93000.0
16982,NaN,2016-04-15,None,d9ca82f550ac4ee58b6299cf1e5c824a,NaN
16983,72.0,2015-04-04,F,ff737c250d2343729ade04c4f6eb1001,65000.0
16984,75.0,2016-07-16,F,392d23b2c958493197f647bedfe4f418,78000.0
16985,26.0,2018-06-19,M,97ee6e7a12fe4064b260fa48bdd0330f,55000.0
16986,59.0,2017-07-31,F,bf3069b178fe40d789dd027901bc406b,63000.0
16987,57.0,2016-07-09,M,76ddbd6576844afe811f1a3c0fbb5bec,40000.0
16988,64.0,2018-01-04,M,f653cf2d8bba42d0a53c2937ee2e5893,51000.0
16989,NaN,2018-03-05,None,ca45ee1883624304bac1e4c8a114f045,NaN
16990,70.0,2016-03-10,F,79edb810789c447e8d212a324b44cc16,39000.0
16991,NaN,2016-01-16,None,a9a20fa8b5504360beb4e7c8712f8306,NaN
16992,21.0,2017-09-17,F,400d0536e8794cbb855b0d882d67cbda,72000.0
16993,60.0,2018-05-05,M,cb23b66c56f64b109d673d5e56574529,113000.0
16994,NaN,2015-12-11,None,c02b10e8752c4d8e9b73f918558531f7,NaN
16995,45.0,2018-06-04,F,6d5f3a774f3d4714ab0c092238f3a1d7,54000.0
16996,61.0,2018-07-13,M,2cb4f97358b841b9a9773a7aa05a9d77,72000.0
16997,49.0,2017-01-26,M,01d26f638c274aa0b965d24cefe3183f,73000.0
16998,83.0,2016-03-07,F,9dc1421481194dcd9400aec7c9ae6366,50000.0
16999,62.0,2017-07-22,F,e4052622e5ba45a8b96b59aba68cf068,82000.0

In [70]:
# transcript: rename person col name to customer_id.
transcript.rename(columns={'person': 'customer_id'}, inplace=True)

In [71]:
# transcript: create separate columns for amount and offer_id from value col.

def create_offer_id_col(val):
    if list(val.keys())[0] in ['offer id', 'offer_id']:
        return list(val.values())[0]
    
def create_amount_col(val):
    if list(val.keys())[0] in ['amount']:
        return list(val.values())[0]
    
transcript['offer_id'] = transcript.value.apply(create_offer_id_col)
transcript['amount'] = transcript.value.apply(create_amount_col)

# change amount column type to float
transcript.amount.astype('float')

# drop value column
transcript.drop(columns=['value'], inplace=True)

In [72]:
transcript.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 306534 entries, 0 to 306533
Data columns (total 5 columns):
event          306534 non-null object
customer_id    306534 non-null object
time           306534 non-null int64
offer_id       167581 non-null object
amount         138953 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 11.7+ MB

In [73]:
transcript

,event,customer_id,time,offer_id,amount
0,offer received,78afa995795e4d85b5d9ceeca43f5fef,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
1,offer received,a03223e636434f42ac4c3df47e8bac43,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
2,offer received,e2127556f4f64592b11af22de27a7932,0,2906b810c7d4411798c6938adc9daaa5,NaN
3,offer received,8ec6ce2a7e7949b1bf142def7d0e0586,0,fafdcd668e3743c1bb461111dcafc2a4,NaN
4,offer received,68617ca6246f4fbc85e91a2a49552598,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN
5,offer received,389bc3fa690240e798340f5a15918d5c,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN
6,offer received,c4863c7985cf408faee930f111475da3,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN
7,offer received,2eeac8d8feae4a8cad5a6af0499a211d,0,3f207df678b143eea3cee63160fa8bed,NaN
8,offer received,aa4862eba776480b8bb9c68455b8c2e1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
9,offer received,31dda685af34476cad5bc968bdb01c53,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
10,offer received,744d603ef08c4f33af5a61c8c7628d1c,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
11,offer received,3d02345581554e81b7b289ab5e288078,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
12,offer received,4b0da7e80e5945209a1fdddfe813dbe0,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN
13,offer received,c27e0d6ab72c455a8bb66d980963de60,0,3f207df678b143eea3cee63160fa8bed,NaN
14,offer received,d53717f5400c4e84affdaeda9dd926b3,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
15,offer received,f806632c011441378d4646567f357a21,0,fafdcd668e3743c1bb461111dcafc2a4,NaN
16,offer received,d058f73bf8674a26a95227db098147b1,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
17,offer received,65aba5c617294649aeb624da249e1ee5,0,2906b810c7d4411798c6938adc9daaa5,NaN
18,offer received,ebe7ef46ea6f4963a7dd49f501b26779,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
19,offer received,1e9420836d554513ab90eba98552d0a9,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN
20,offer received,868317b9be554cb18e50bc68484749a2,0,2906b810c7d4411798c6938adc9daaa5,NaN
21,offer received,f082d80f0aac47a99173ba8ef8fc1909,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
22,offer received,102e9454054946fda62242d2e176fdce,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN
23,offer received,4beeb3ed64dd4898b0edf2f6b67426d3,0,2906b810c7d4411798c6938adc9daaa5,NaN
24,offer received,9f30b375d7bd4c62a884ffe7034e09ee,0,2298d6c36e964ae4a3e7e9706d1fb8c2,NaN
25,offer received,25c906289d154b66bf579693f89481c9,0,2906b810c7d4411798c6938adc9daaa5,NaN
26,offer received,6e014185620b49bd98749f728747572f,0,f19421c1d4aa40978ebb69ca19b0e20d,NaN
27,offer received,02c083884c7d45b39cc68e1314fec56c,0,ae264e3637204a6fb9bb56bc8210ddfd,NaN
28,offer received,c0d210398dee4a0895b24444a5fcd1d2,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN
29,offer received,8be4463721e14d7fa600686bf8c8b2ed,0,fafdcd668e3743c1bb461111dcafc2a4,NaN
...,...,...,...,...,...
306504,transaction,8524d450673b4c24869b6c94380006de,714,None,4.89
306505,transaction,b895c57e8cd047a8872ce02aa54759d6,714,None,4.48
306506,offer completed,b895c57e8cd047a8872ce02aa54759d6,714,fafdcd668e3743c1bb461111dcafc2a4,NaN
306507,offer viewed,8dda575c2a1d44b9ac8e8b07b93d1f8e,714,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN
306508,transaction,8431c16f8e1d440880db371a68f82dd0,714,None,1.19
306509,offer completed,8431c16f8e1d440880db371a68f82dd0,714,fafdcd668e3743c1bb461111dcafc2a4,NaN
306510,transaction,ba620885e51c4b0ea64a4f61daad494f,714,None,14.31
306511,transaction,a1a8f40407c444cc848468275308958a,714,None,2.37
306512,transaction,8d80970192fa496f99d6b45c470a4b60,714,None,6.92
306513,transaction,bde275066f3c4fa0bff3093e3b866a2c,714,None,12.73
306514,transaction,f1e4fd36e5a0446f83861308bddf6945,714,None,8.20
306515,transaction,0b64be3b241c4407a5c9a71781173829,714,None,2.60
306516,transaction,86d03d35d7e0434b935e7743e83be3a0,714,None,9.20
306517,transaction,3408fd05c781401f8442fb6dbaaea9c7,714,None,11.70
306518,transaction,1593d617fac246ef8e50dbb0ffd77f5f,714,None,40.67
306519,transaction,f1b31d07b5d84f69a2d5f1d07843989e,714,None,31.13
306520,transaction,2ce987015ec0404a97ba333e8e814090,714,None,1.64
306521,transaction,2e33545f0a764d27b2ccff95fc8d72c4,714,None,17.35
306522,transaction,d1c4500ace2e45e9a45d3cd2fccac8d8,714,None,4.42
306523,transaction,b65affd9e07346a1906364a396950e3d,714,None,18.35
306524,transaction,d613ca9c59dd42f497bdbf6178da54a7,714,None,25.14
306525,transaction,eec70ab28af74a22a4aeb889c0317944,714,None,43.58
306526,transaction,24f56b5e1849462093931b164eb803b5,714,None,22.64
306527,offer completed,24f56b5e1849462093931b164eb803b5,714,fafdcd668e3743c1bb461111dcafc2a4,NaN
306528,transaction,5ca2620962114246ab218fc648eb3934,714,None,2.20
306529,transaction,b3a1272bc9904337b331bf348c3e8c17,714,None,1.59
306530,transaction,68213b08d99a4ae1b0dcb72aebd9aa35,714,None,9.53
306531,transaction,a00058cf10334a308c68e7631c529907,714,None,3.61
306532,transaction,76ddbd6576844afe811f1a3c0fbb5bec,714,None,3.53
306533,transaction,c02b10e8752c4d8e9b73f918558531f7,714,None,4.05